/* Primary Colors */
:root {
  --primary-color: #336666; /* Blue */
  --secondary-color: #f16061; /* Gray */
}
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  padding: 0;
}

.sliders,
.dropdown,
canvas {
  padding: 20px; /* Reduce padding */
  display: flex;
  justify-content: center;
  align-items: center;
}
/* .sliders {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  padding: 0;
}

.dropdown {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  padding: 0;
} */

/* Background Colors */
/* body {
  background: linear-gradient(
    270deg,
    var(--primary-color),
    var(--secondary-color)
  );
  background-size: 200% 200%;
  animation: Gradient 2s ease infinite;
}

@keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
} */

/* Text Colors */
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #2571bc;
}

p {
  color: #333333;
  text-transform: uppercase;
  font-family: Arial, Helvetica, sans-serif;
}

.button {
  background-color: #007bff;
  color: #fff;
}

.button:hover {
  background-color: #0056b3;
}

a {
  color: #007bff;
}

a:hover {
  color: #0056b3;
}

.sliders {
  display: flex;
  /* max-width: 100px; */
  /* flex-direction: column; */
}

.slider,
.dropdown {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: space-between; */
  padding: 1em 0em;
  width: 100px;
}

.slider1 {
  border-left: #333333 3px solid;
}
.slider1,
.slider2,
.slider3,
.slider4,
.slider5 {
  border-top: #333333 3px solid;
  border-bottom: #333333 3px solid;
  border-right: #333333 3px solid;
}
/********** Range Input Styles **********/
/*Range Reset*/
input[type="range"] [orient="vertical"] {
  appearance: slider-vertical;
  -moz-appearance: slider-vertical;
  -webkit-appearance: slider-vertical;
  background: transparent;
  cursor: pointer;
}

/* Removes default focus */
input[type="range"]:focus {
  outline: none;
}

/***** Chrome, Safari, Opera and Edge Chromium styles *****/
/* slider track */
input[type="range"]::-webkit-slider-runnable-track {
  background-color: #053a5f;
  border-radius: 0.5rem;
  height: 0.5rem;
}

/* slider thumb */
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  /* margin-top: -12px; Centers thumb on the track */

  /*custom styles*/
  background-color: #5cd5eb;
  height: 2rem;
  width: 1rem;
}

input[type="range"]:focus::-webkit-slider-thumb {
  border: 1px solid #fffbf1;
  outline: 3px solid #fffbf1;
  outline-offset: 0.125rem;
}

/******** Firefox styles ********/
/* slider track */
input[type="range"]::-moz-range-track {
  background-color: #333333;
  border-radius: 0.5rem;
  /* height: 0.5rem; */
}

/* slider thumb */
input[type="range"]::-moz-range-thumb {
  border: none; /*Removes extra border that FF applies*/
  border-radius: 0; /*Removes default border-radius that FF applies*/
  box-shadow: none; /*Removes default box-shadow that FF applies*/

  /*custom styles*/
  background-color: #fffbf1;
  height: 1rem;
  width: 2rem;
}

input {
  background-color: transparent;
  background: transparent;
}

/* input[type="range"]:focus::-moz-range-thumb {
  border: 1px solid #053a5f;
  outline: 3px solid #053a5f;
  outline-offset: 0.125rem;
} */

/* Style the dropdown container */
select {
  /* width: 200px; */
  /* height: 40px; */
  border: none;
  /* border-radius: 5px; */
  padding: 5px;
  background-color: transparent;
  color: #333333;
  font-size: 16px;
}

/* Style the dropdown options */
select option {
  /* background-color: var(--secondary-color); */
  width: 200px;
  height: 40px;
  color: white;
}

canvas {
  position: absolute;
  transform: -50%, -50%;
  width: 90%;
  max-height: 90%;
  z-index: -1; /* Send the canvas to the back */
}
